*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background: #F0F0F0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #181B20;
}

h1, h2, h3 {
	font-weight: normal;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h2.title a{
    color: #F44C31;
}

h3 {
	font-size: 1.6em;
}


p, ul, ol {
	margin: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #C62647;
}

a.inline-btn{
    padding: 1rem 0 0 0;
    font-size: 1.2rem;
}

a:hover {
	text-decoration: underline;
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1100px;
    margin: auto;
}


/* HEADER */
#main-header{
    background: #F44C31;
    padding: 1rem;
}

#main-header .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#logo{
    text-transform: uppercase;
    padding-right: 2rem; 
}

#logo a {
    text-decoration: none;
    color:white;
}

#main-nav ul li.user-area{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#main-nav ul li {
    display: inline-block;
    margin: 0;
}

#main-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    transition: color 0.3s ease-in-out;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

#main-nav ul li a.btn-sign{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    color: hsl(8, 90%, 47%);
    font-weight: 600;
}

#main-nav ul li a.btn-sign:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#main-nav ul li a.btn-sign.in{
    background-color: #F0F0F0;
}

#main-nav ul li a.btn-sign.up{
    background-color: #F0F0F0;
}

#main-nav ul li a.current-page{
    color: #F44C31;
    background: #F0F0F0;
}
/* END HEADER */


main{
    min-height: 87vh;
}

#greeting{
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#greeting h2#landing-heading {
    font-size: 4rem;
    padding: 1rem;
    color: #333;
    
}

#greeting a {
    text-decoration: none;
    color: white;
    background-color: #F44C31;
    border-radius:10px ;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    transition: transform 0.2s ease-in-out;
    font-size: 1.2rem;
    border: 1px solid #F44C31;
}

#greeting a:hover{
    background: transparent;
    color: #F44C31;
}

#main-footer{
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* posts list */

h2.heading-2{
    margin: 50px 0;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: #333;
    font-weight: 500;
    font-size: 2.5rem;
    border-bottom: 5px solid rgba(244, 76, 49, 0.5);
    
}

.post{
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.post h3 {
    padding-bottom: 0.5rem;
}

.post h3 a{
    text-decoration: none;
    color: #444;
    font-size: 1.5rem;
}

.post h3 a:hover{
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    
}

.post small{
    padding-left: 0.5rem;
    color: #555;
    font-size: 0.7rem;
}

.post-box p{
    padding-top: 1rem;
}

/* post detail */

h2 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #555;
}

.post-box-detail{
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.post-box-detail small{
    padding-left: 0.5rem;
    color: #555;
}

.post-box-detail p{
    padding-top: 1rem;
}

h3.comment-heading{
    margin-top: 20px;
    font-size: 2.5rem;
    padding: 0.5rem 0;
    color: #F44C31;
    font-weight: 600;
}

form{
    margin-top: 100px;
    background-color: rgb(180, 176, 176);
    width: 500px;
    margin-bottom: 2rem;
    border-radius: 10px;
    overflow: hidden;
}

form#comment-form{
    margin-top: 40px;
    width: 100%;
}

form h3, form h4 {
    text-align: center;
    background: hsl(8, 90%, 57%);
    padding: 1rem;
    color: #F0F0F0;
}

form#comment-form h4{
    font-size: 1.3rem;
}

form p {
    padding: 0 1rem;
    padding-top: 1rem;
}

form p span{
    display: block;
    color: #333;
    padding-left: 2rem;
}

form ul.errorlist{
    padding: 0 3rem;
    color: hsl(0, 80%, 40%);
    margin-bottom: -1rem;
    margin-top: 1rem;
}

form label{
    font-size: 1.3rem;
    text-transform: capitalize;
    padding-bottom: 0.5rem;
    display: block;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 1rem;
}

form input[type='submit']{
    width: fit-content;
    padding: 0.5rem 2rem;
    display: block;
    cursor: pointer;
    margin: 1rem auto;
    font-size: 1.2rem;
    border-radius: 5px;
    background: #F44C31;
    color: #F0F0F0;
    border: none;
}

.comment-box h5 {
    font-size: 1.3rem;
    margin-top: 1rem;
    padding-bottom: 0.1rem;
    
}

.comment-container{
    padding: 1rem;
    background: hsl(0, 0%, 84%);
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

.comment-container .image-container{
    margin-top: 25px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(244, 76, 49, 0.5);
    margin-right: 1rem;
}

.comment-container .comment-content{
    width: 90%;
}

.comment-date{
    padding-left: 0.5rem;
}

.comment-body{
    padding: 0.5rem;
}

/* DASHBOARD */

#dashboard{
    margin-top: 20%;
}

#dashboard h2{
    font-size: 2.5rem;
}

#dashboard p {
    text-align: center;
}